# ⚙️ Feature Engineering.

### In this Notebook, we'll do some Basic Feature Engineering to prepare our Data for Modeling.

### Importing Necessary Libraries.

In [1]:
import json
import time

import numpy as np
import pandas as pd

from datetime import datetime, timedelta

import os
from dotenv import load_dotenv

load_dotenv("../.env")

import sys

sys.path.append("../Scripts/")
sys.path.append("../")

import paths
import config

In [2]:
EndDate = datetime.strftime(datetime.now() - timedelta(days=2), "%d%m%Y")
EndDate

'30042024'

Cities = config.Cities

os.listdir(paths.RAW_DATA_DIR)### Let's Import again all our Raw Data Disk and concatenate it in a Gigantic DataFrame.

In [3]:
Cities = config.Cities

os.listdir(paths.RAW_DATA_DIR)

['Palermo_HistoricalData_01092022_30042024.parquet',
 '.ipynb_checkpoints',
 'Venezia_HistoricalData_01092022_30042024.parquet',
 "L'Aquila_HistoricalData_01092022_30042024.parquet",
 'Catanzaro_HistoricalData_01092022_30042024.parquet',
 'Perugia_HistoricalData_01092022_30042024.parquet',
 'Milano_HistoricalData_01092022_30042024.parquet',
 'Bologna_HistoricalData_01092022_30042024.parquet',
 'Potenza_HistoricalData_01092022_30042024.parquet',
 'Cagliari_HistoricalData_01092022_30042024.parquet',
 'Roma_HistoricalData_01092022_30042024.parquet',
 'Older',
 'Napoli_HistoricalData_01092022_30042024.parquet',
 'Genova_HistoricalData_01092022_30042024.parquet',
 'Campobasso_HistoricalData_01092022_30042024.parquet',
 'Trento_HistoricalData_01092022_30042024.parquet',
 'Firenze_HistoricalData_01092022_30042024.parquet',
 'Torino_HistoricalData_01092022_30042024.parquet',
 'Trieste_HistoricalData_01092022_30042024.parquet',
 'Ancona_HistoricalData_01092022_30042024.parquet',
 'Aosta_HistoricalData_01092022_30042024.parquet',
 'Bari_HistoricalData_01092022_30042024.parquet']

In [4]:
WholeDF = pd.DataFrame()

for file in os.listdir(paths.RAW_DATA_DIR):
    if file.endswith(".parquet"):
        #Splitting the FileName for '_' character and then getting the first item in the list as it's going to be the correspective name of the city.
        CityName = file.split("_")[0]
        print(f'Fetching Raw Data from Disk in Raw Data Dir for {CityName}')
        
        #Get the City ID for given City from Cities List
        CityID = next((x["CityID"] for x in Cities if x["CityName"] == CityName), None)
        print(f'Got City ID {CityID}')
        
        TempCityDF = pd.read_parquet(paths.RAW_DATA_DIR / file)
        
        #Moving the CityID Column as First
        TempCityDF["CityID"] = CityID
        CityIDColumn = TempCityDF.pop("CityID")
        TempCityDF.insert(0, "CityID", CityIDColumn)
        
        #A Shorter Single-Liner
        #TempCityDF.insert(0, "CityID", [CityID for x in range(len(TempCityDF))])
        
        #print(TempCityDF.head())
        
        WholeDF = pd.concat([WholeDF, TempCityDF])

Fetching Raw Data from Disk in Raw Data Dir for Palermo
Got City ID PA
Fetching Raw Data from Disk in Raw Data Dir for Venezia
Got City ID VE
Fetching Raw Data from Disk in Raw Data Dir for L'Aquila
Got City ID AQ
Fetching Raw Data from Disk in Raw Data Dir for Catanzaro
Got City ID CZ
Fetching Raw Data from Disk in Raw Data Dir for Perugia
Got City ID PG
Fetching Raw Data from Disk in Raw Data Dir for Milano
Got City ID MI
Fetching Raw Data from Disk in Raw Data Dir for Bologna
Got City ID BO
Fetching Raw Data from Disk in Raw Data Dir for Potenza
Got City ID PZ
Fetching Raw Data from Disk in Raw Data Dir for Cagliari
Got City ID CA
Fetching Raw Data from Disk in Raw Data Dir for Roma
Got City ID RM
Fetching Raw Data from Disk in Raw Data Dir for Napoli
Got City ID NA
Fetching Raw Data from Disk in Raw Data Dir for Genova
Got City ID GE
Fetching Raw Data from Disk in Raw Data Dir for Campobasso
Got City ID CB
Fetching Raw Data from Disk in Raw Data Dir for Trento
Got City ID TN
Fetching Raw Data from Disk in Raw Data Dir for Firenze
Got City ID FI
Fetching Raw Data from Disk in Raw Data Dir for Torino
Got City ID TO
Fetching Raw Data from Disk in Raw Data Dir for Trieste
Got City ID TS
Fetching Raw Data from Disk in Raw Data Dir for Ancona
Got City ID AN
Fetching Raw Data from Disk in Raw Data Dir for Aosta
Got City ID AO
Fetching Raw Data from Disk in Raw Data Dir for Bari
Got City ID BA

In [5]:
WholeDF

,CityID,Date_GMT+1_Europe/Berlin,Temperature_2m,Relative_Humidity_2m,Dew_Point_2m,Precipitation,Pressure_msl,Surface_Pressure,Cloud_Cover,Wind_Speed_10m,...,Wind_Wirection_10m,Wind_Direction_100m,Soil_Temperature_0-7cm,Soil_Temperature_7-28cm,Soil_Temperature_28-100cm,Soil_Temperature_100-255cm,Soil_Moisture_0-7cm,Soil_Moisture_7-28cm,Soil_Moisture_28-100cm,EuropeanAQI
0,PA,2022-09-01T00:00,26.9,52,16.4,0.2,1014.9,1011.2,39,1.8,...,143,180,26.5,28.3,26.4,23.7,0.111,0.047,0.058,36
1,PA,2022-09-01T01:00,24.2,68,18.0,0.0,1014.4,1010.7,25,4.8,...,153,139,25.6,28.2,26.4,23.7,0.111,0.047,0.058,35
2,PA,2022-09-01T02:00,26.8,58,17.7,0.0,1013.8,1010.1,39,3.1,...,249,264,26.8,28.1,26.4,23.7,0.111,0.047,0.060,34
3,PA,2022-09-01T03:00,25.1,62,17.3,0.0,1013.4,1009.7,4,4.0,...,265,288,26.0,28.0,26.4,23.7,0.111,0.047,0.060,34
4,PA,2022-09-01T04:00,24.4,74,19.5,0.0,1013.6,1009.9,11,3.9,...,236,259,25.2,27.9,26.4,23.7,0.111,0.047,0.060,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14587,BA,2024-04-30T19:00,21.1,60,13.0,0.0,1014.0,1012.9,33,16.3,...,96,107,24.9,20.4,17.2,16.1,0.109,0.182,0.162,43
14588,BA,2024-04-30T20:00,20.9,59,12.5,0.0,1014.0,1012.9,30,11.8,...,130,148,23.5,20.5,17.2,16.1,0.109,0.182,0.162,36
14589,BA,2024-04-30T21:00,20.8,50,10.0,0.0,1014.5,1013.4,31,10.6,...,162,175,22.2,20.6,17.2,16.1,0.109,0.182,0.162,34
14590,BA,2024-04-30T22:00,20.2,48,8.9,0.0,1014.4,1013.3,28,10.8,...,180,186,21.3,20.6,17.2,16.1,0.108,0.182,0.162,32
14591,BA,2024-04-30T23:00,19.4,51,8.9,0.0,1014.1,1013.0,76,10.2,...,157,174,20.4,20.5,17.2,16.1,0.108,0.182,0.162,34

### As we want out Raw Data Intact, but only the Date Transformed (Disaster Recovery Pre-Transformations), let's just Tweak the Date a bit and Dump to Disk.

In [6]:
RawDF = WholeDF.copy()

RawDF["Date"] = RawDF["Date_GMT+1_Europe/Berlin"].apply(lambda x: datetime.strptime(x.replace("T", " "), "%Y-%m-%d %H:%M"))
RawDF.drop("Date_GMT+1_Europe/Berlin", axis = 1, inplace = True)

#Let's Dump it to Disk.

RawDF.to_parquet(paths.TRANSFORMED_DATA_DIR / f'RAW_All_Cities_HistoricalData_01092022_{EndDate}.parquet')

### Now, Let's write (Manually) a list that contains all the City IDs and Correspective Sub-Region of Italy.
### We'll use this later in our modeling, as factor such as Industrial Activity and Cultivations Status might be important indicator of Air Quality.
### We need Clean Air to cultivate good veggies and Air Quality plunges during period of intense industrial activities.

In [7]:
CitiesSubRegion = [["AO", "North"],
                   ["TN", "North"],
                   ["TO", "North"],
                   ["MI", "North"],
                   ["TS", "North"],
                   ["VE", "North"],
                   ["GE", "North"],
                   ["FI", "Center"],
                   ["AN", "Center"],
                   ["BO", "Center"],
                   ["PG", "Center"],
                   ["RM", "Center"],
                   ["CA", "Center"],
                   ["NA", "South"],
                   ["AQ", "South"],
                   ["CB", "South"],
                   ["BA", "South"],
                   ["PZ", "South"],
                   ["CZ", "South"],
                   ["PA", "South"]
                  ]

In [8]:
WholeDF["CityID"].apply(lambda x: next((z[1] for z in CitiesSubRegion if x == z[0]), None))

0        South
1        South
2        South
3        South
4        South
         ...
14587    South
14588    South
14589    South
14590    South
14591    South
Name: CityID, Length: 291840, dtype: object

In [9]:
WholeDF["SubRegion"] = WholeDF["CityID"].apply(lambda x: next((z[1] for z in CitiesSubRegion if x == z[0]), None))

### Next we can Safely drop our CityID column as it's no longer of use to us.

In [10]:
WholeDF.drop("CityID", axis = 1, inplace = True)

### Now we need to work the Date Column: it's of no use of our model, but what we can do is to put the Date into Context.
### An example of that would be to categorize the season by month, or week of year, or month of year, etc.
### I decided to use Seasons even if they are not the most performing option.
### During Winters, industrial activities in the North raises, so it can be another good indicator, especially if combined with the previously created.

In [11]:
#let's check the datatype of our Datetimes.
type(WholeDF["Date_GMT+1_Europe/Berlin"][0].values[0])

str

In [12]:
WholeDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 291840 entries, 0 to 14591
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Date_GMT+1_Europe/Berlin    291840 non-null  object
 1   Temperature_2m              291840 non-null  float64
 2   Relative_Humidity_2m        291840 non-null  int64
 3   Dew_Point_2m                291840 non-null  float64
 4   Precipitation               291840 non-null  float64
 5   Pressure_msl                291840 non-null  float64
 6   Surface_Pressure            291840 non-null  float64
 7   Cloud_Cover                 291840 non-null  int64
 8   Wind_Speed_10m              291840 non-null  float64
 9   Wind_Speed_100m             291840 non-null  float64
 10  Wind_Wirection_10m          291840 non-null  int64
 11  Wind_Direction_100m         291840 non-null  int64
 12  Soil_Temperature_0-7cm      291840 non-null  float64
 13  Soil_Temperature_7-28cm     291840 non-null  float64
 14  Soil_Temperature_28-100cm   291840 non-null  float64
 15  Soil_Temperature_100-255cm  291840 non-null  float64
 16  Soil_Moisture_0-7cm         291840 non-null  float64
 17  Soil_Moisture_7-28cm        291840 non-null  float64
 18  Soil_Moisture_28-100cm      291840 non-null  float64
 19  EuropeanAQI                 291840 non-null  int64
 20  SubRegion                   291840 non-null  object
dtypes: float64(14), int64(5), object(2)
memory usage: 57.0+ MB

In [13]:
WholeDF["Date"] = WholeDF["Date_GMT+1_Europe/Berlin"].apply(lambda x: datetime.strptime(x.replace("T", " "), "%Y-%m-%d %H:%M"))

In [14]:
#We Perfectly know that all our Data is in GMT+1 so, let's just drop our Older Column.
WholeDF.drop("Date_GMT+1_Europe/Berlin", axis = 1, inplace = True)

### Now, let's add a column for the Season

In [15]:
WholeDF["Season"] = WholeDF["Date"].apply(lambda x: "Winter" if ((x.month >= 12 and x.day >= 21) or (x.month < 3) or (x.month == 3 and x.day <= 20)) 
                                    else "Spring" if ((x.month >= 3 and x.day >= 21) or (x.month < 6) or (x.month == 6 and x.day <= 20))  
                                    else "Summer" if ((x.month >= 6 and x.day >= 21) or (x.month < 9) or (x.month == 9 and x.day <= 22)) 
                                    else "Autumn" if ((x.month >= 9 and x.day >= 23) or (x.month < 12) or (x.month == 12 and x.day <= 20)) 
                                    else "NoSeasonFound")

#Quick Check
if "NoSeasonFound" in list(WholeDF):
    raise DataIntegrityError("There's been an Error in Categorizing Data in Seasons!!")
    
else:
    print("Check Passed, Datetimes correctly Transformed in Seasons!")

Check Passed, Datetimes correctly Transformed in Seasons!

### Next Up, we want to create a Column for hours of the Day.
### During periods of intense traffic, especially when the Industrial Production starts to slow down, the chances of an higher AQI increase.

In [16]:
WholeDF["Hour"] = WholeDF["Date"].apply(lambda x: x.hour)

### Now, we can drop our date Column, as it's going to be irrelevant for our Modeling

In [17]:
WholeDF.drop("Date", axis = 1, inplace = True)

### We could now go ahead and keep enginnering features for our DataSet, but I think that since I do not have enough domain knowledge on Climate, it's better to stop here.

### Let's Generate Dummy Variables.

In [18]:
SubRegionDummies = pd.get_dummies(WholeDF["SubRegion"], prefix = "IsSubRegion", dtype = int)
SeasonDummies = pd.get_dummies(WholeDF["Season"], prefix = "IsSeason", dtype = int)
HourDummies = pd.get_dummies(WholeDF["Hour"], prefix = "IsHour",dtype = int)

#Let's Concat to the DataFrame and get rid of the original columns.
#Note that can also be done by inserting the df as parameter in pd.get_dummies, check the docs.

WholeDF = pd.concat([WholeDF, SubRegionDummies], axis = 1)
WholeDF = pd.concat([WholeDF, SeasonDummies], axis = 1)
WholeDF = pd.concat([WholeDF, HourDummies], axis = 1)

WholeDF.drop(["SubRegion", "Season", "Hour"], axis = 1, inplace = True)

In [19]:
WholeDF.columns

Index(['Temperature_2m', 'Relative_Humidity_2m', 'Dew_Point_2m',
       'Precipitation', 'Pressure_msl', 'Surface_Pressure', 'Cloud_Cover',
       'Wind_Speed_10m', 'Wind_Speed_100m', 'Wind_Wirection_10m',
       'Wind_Direction_100m', 'Soil_Temperature_0-7cm',
       'Soil_Temperature_7-28cm', 'Soil_Temperature_28-100cm',
       'Soil_Temperature_100-255cm', 'Soil_Moisture_0-7cm',
       'Soil_Moisture_7-28cm', 'Soil_Moisture_28-100cm', 'EuropeanAQI',
       'IsSubRegion_Center', 'IsSubRegion_North', 'IsSubRegion_South',
       'IsSeason_Autumn', 'IsSeason_Spring', 'IsSeason_Summer',
       'IsSeason_Winter', 'IsHour_0', 'IsHour_1', 'IsHour_2', 'IsHour_3',
       'IsHour_4', 'IsHour_5', 'IsHour_6', 'IsHour_7', 'IsHour_8', 'IsHour_9',
       'IsHour_10', 'IsHour_11', 'IsHour_12', 'IsHour_13', 'IsHour_14',
       'IsHour_15', 'IsHour_16', 'IsHour_17', 'IsHour_18', 'IsHour_19',
       'IsHour_20', 'IsHour_21', 'IsHour_22', 'IsHour_23'],
      dtype='object')

In [20]:
WholeDF.head()

,Temperature_2m,Relative_Humidity_2m,Dew_Point_2m,Precipitation,Pressure_msl,Surface_Pressure,Cloud_Cover,Wind_Speed_10m,Wind_Speed_100m,Wind_Wirection_10m,...,IsHour_14,IsHour_15,IsHour_16,IsHour_17,IsHour_18,IsHour_19,IsHour_20,IsHour_21,IsHour_22,IsHour_23
0,26.9,52,16.4,0.2,1014.9,1011.2,39,1.8,1.8,143,...,0,0,0,0,0,0,0,0,0,0
1,24.2,68,18.0,0.0,1014.4,1010.7,25,4.8,6.6,153,...,0,0,0,0,0,0,0,0,0,0
2,26.8,58,17.7,0.0,1013.8,1010.1,39,3.1,3.6,249,...,0,0,0,0,0,0,0,0,0,0
3,25.1,62,17.3,0.0,1013.4,1009.7,4,4.0,7.2,265,...,0,0,0,0,0,0,0,0,0,0
4,24.4,74,19.5,0.0,1013.6,1009.9,11,3.9,7.7,236,...,0,0,0,0,0,0,0,0,0,0

In [21]:
### Let's Dump to Disk the Transformed Data.
WholeDF.to_parquet(paths.TRANSFORMED_DATA_DIR / f'TRANSFORMED_All_Cities_HistoricalData_01092022_{EndDate}.parquet')

# NOTE: I didn't reset the DF Indexes, cause it might come handy to select all the x datapoints for all cities with df.loc[x]
# e.g. if I us df.loc[0] it's going to return all the 20 first rows for each city's record.

In [22]:
WholeDF

,Temperature_2m,Relative_Humidity_2m,Dew_Point_2m,Precipitation,Pressure_msl,Surface_Pressure,Cloud_Cover,Wind_Speed_10m,Wind_Speed_100m,Wind_Wirection_10m,...,IsHour_14,IsHour_15,IsHour_16,IsHour_17,IsHour_18,IsHour_19,IsHour_20,IsHour_21,IsHour_22,IsHour_23
0,26.9,52,16.4,0.2,1014.9,1011.2,39,1.8,1.8,143,...,0,0,0,0,0,0,0,0,0,0
1,24.2,68,18.0,0.0,1014.4,1010.7,25,4.8,6.6,153,...,0,0,0,0,0,0,0,0,0,0
2,26.8,58,17.7,0.0,1013.8,1010.1,39,3.1,3.6,249,...,0,0,0,0,0,0,0,0,0,0
3,25.1,62,17.3,0.0,1013.4,1009.7,4,4.0,7.2,265,...,0,0,0,0,0,0,0,0,0,0
4,24.4,74,19.5,0.0,1013.6,1009.9,11,3.9,7.7,236,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14587,21.1,60,13.0,0.0,1014.0,1012.9,33,16.3,26.3,96,...,0,0,0,0,0,1,0,0,0,0
14588,20.9,59,12.5,0.0,1014.0,1012.9,30,11.8,21.7,130,...,0,0,0,0,0,0,1,0,0,0
14589,20.8,50,10.0,0.0,1014.5,1013.4,31,10.6,22.0,162,...,0,0,0,0,0,0,0,1,0,0
14590,20.2,48,8.9,0.0,1014.4,1013.3,28,10.8,23.2,180,...,0,0,0,0,0,0,0,0,1,0
14591,19.4,51,8.9,0.0,1014.1,1013.0,76,10.2,22.5,157,...,0,0,0,0,0,0,0,0,0,1